<!-- 
对于多个复选框，可以绑定到同一个数组中
checkbox 使用 checked property 和 change 事件
-->
<!DOCTYPE html>
  <html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="example">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <script type="text/javascript">
            var example = new Vue({
                el: '#example',
                data:{
                    checkedNames: []
                }
            })
        </script>
    </body>
</html>