<!-- 
radio 使用 checked property 和 change 事件
-->
<!DOCTYPE html>
  <html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="example">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>

        <script type="text/javascript">
            var example = new Vue({
                el: '#example',
                data:{
                    'picked':'',
                }
            })
        </script>
    </body>
</html>