#drag {
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #e8e8e8;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#bg {
    width: 40px;
    height: 100%;
    position: absolute;
    background-color: #75CDF9;
}

#text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

#btn {
    width: 40px;
    height: 38px;
    position: absolute;
    border: 1px solid #ccc;
    cursor: move;
    font-family: "宋体";
    text-align: center;
    background-color: #fff;
    user-select: none;
    color: #666;
    margin: 0px;
    padding: 0px;
}