<div id="page-inner">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="alert alert-success">
                数据爬取自各个网站，仅作参考。
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="https://media.st.dl.pinyuncloud.com/steam/apps/582010/header.jpg?t=1587600484">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">怪物猎人 世界<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
        </div>
    </div>




</div>







