<div id="page-inner">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="alert alert-success">
                这里有一些数据表。它们来自不同的网站，通过参考它们的曲线，能大致判断游戏的热度。
                </div>
            </div>
        </div>
    </div>

    <!-- steam指数表 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-image">
                    <div id="steam-index-chart"></div>
                </div>
                <div class="card-action">
                    <b id='steam_index_simple_info'></b>
                </div>
            </div>
        </div>
    </div>

    <!-- 百度指数表 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-image">
                    <div id="baidu-index-chart"></div>
                </div>
                <div class="card-action">
                    <b id='baidu_index_simple_info'></b>
                </div>
            </div>
        </div>
    </div>

    <!-- bilibili见齐指数表 -->
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-image">
                    <div id="jannchie-index-chart"></div>
                </div>
                <div class="card-action">
                    <b id='jannchie_index_simple_info'></b>
                </div>
            </div>
        </div>
    </div>
</div>
