<style>
    .price b {
        position: absolute;
        font-size: 30px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">
                <p>CSS元素绝对定位反爬</p>
                <p>虽然看起来价格是正常的价格，但是查看Html会发现，它并不那么的"正常"</p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s4">
                        <div class="center promo promo-example">
                            <i class="fa fa-bus fa-5x"></i>
                            <p class="promo-caption">天际省一日游</p>
                            <p class="light center">
                                <em class="price" style="position: relative; width: 70px;">
                                    <b style="left: -40px; ">¥</b>
                                    <b style="left: 32px;">9</b>
                                    <b style="left: -16px;">2</b>
                                    <b style="left: 0px;">3</b>
                                    <b style="left: 16px;">9</b>
                                </em>
                            </p>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="center promo promo-example">
                            <i class="fa fa-ship fa-5x"></i>
                            <p class="promo-caption">瓦罗兰大陆一周游</p>
                            <p class="light center">
                                <em class="price" style="position: relative; width: 70px;">
                                    <b style="left: -40px; ">¥</b>
                                    <b style="left: 32px;">9</b>
                                    <b style="left: -16px;">8</b>
                                    <b style="left: 0px;">9</b>
                                    <b style="left: 16px;">9</b>
                                </em>
                            </p>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="center promo promo-example">
                            <i class="fa fa-space-shuttle fa-5x"></i>
                            <p class="promo-caption">卡兹彗星十年游</p>
                            <p class="light center">
                                <em class="price" style="position: relative; width: 70px;">
                                    <b style="left: -40px; ">¥</b>
                                    <b style="left: 32px;">0</b>
                                    <b style="left: 0px;">0</b>
                                    <b style="left: -16px;">1</b>
                                    <b style="left: 16px;">0</b>
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>根据别人给的提示，自己编写的基于CSS absolute 绝对定位的CSS反爬方式</p>
                <p>其核心要素是，打乱关键的内容，然后再通过绝对定位的坐标偏移，将数据给“还原”回去<br>实现看起来正常，html不正常</p>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>