<style>
    .skill_manifesto::after {
        content: "接招吧DIO";
    }
    .skill_name::before {
    content: "半径二十米的绿宝石水花";
}
    .skill{
        font-size: 30px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">
                <p>CSS 伪类反爬</p>
                <p>藏在CSS伪类里的招式名称</p>
            </div>
            <div class="card-content">
                <div class="center">
                    <i class="fa fa-usb fa-5x"></i>
                    <i class="fa fa-child fa-4x"></i>
                    <i class="fa fa-usb fa-5x fa-rotate-180"></i>
                    <p class="skill"><span class="skill_manifesto"></span>!<span class="skill_name"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>根据别人给的提示，自己编写的基于伪类Content的CSS反爬方式</p>
                <p>这种反爬的主要特点是：不直接将内容展现在HTML中，通过伪类的`content`属性将要展示的值展示出来</p>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>