<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">
                <p>加密二</p>
                <p>请获取到下方输入框的正确密码，并输入</p>
            </div>
            <div class="card-content">
                <div>
                    <label for="first_name">输入密码</label>
                    <input placeholder="输入你喜欢的内容" id="the_words" type="text" class="validate">
                    <label for="first_name">输入当其它加密参数不变，而码表变为"ABCDEFGHIJKL+MNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/"时的结果(utf-8)</label>
                    <input placeholder="输入结果" id="eny_words" type="text" class="validate">
                    <label for="disabled">密码结果</label>
                    <input disabled value="尚未成功" id="disabled" type="text" class="validate">
                </div>
                <button class="btn waves-effect waves-light right" id="reset_inner"><i
                        class="fa fa-refresh fa-fw"></i>重置</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>这个加密的代码来自于 夜幕平台，我稍微改写了一下，让它适应了网页</p>
                <p>通过自定义Base64的码表，来让字符映射到与标准码表不同的字符上去。此时如果你用标准Base64解码，会奇怪的结果</p>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static',filename='question/js/encryption_46esab.js') }}"></script>

</html>