<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">Selenium特征检测</div>
            <div class="card-content">
                <p>你的浏览器，似乎<span id="is_selenium"></span>Selenium</p>
                <button class="btn waves-effect waves-light right" id="reset_inner"><i class="fa fa-refresh fa-fw"></i>重测</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>这个检测的方式来自于某宝: <a href="https://g.alicdn.com/secdev/sufei_data/3.6.8/index.js"
                        target="_blank">https://g.alicdn.com/secdev/sufei_data/3.6.8/index.js</a></p>
                <p>Selenium会生成一些一般浏览器不生成的变量。这些变量如果不作调整，很容易就会被检测发现是Selenium</p>  
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='question/js/check_selenium.js') }}"></script>
