<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action"><p>AAEncode混淆</p> <p>请获取到下方输入框的正确密码，并输入</p></div>
            <div class="card-content">
                <div>
                    <label for="first_name">输入密码</label>
                    <input placeholder="输入你喜欢的内容" id="the_words" type="text" class="validate">
                    <label for="disabled">密码结果</label>
                    <input disabled value="尚未成功" id="disabled" type="text" class="validate">
                </div>
                <button class="btn waves-effect waves-light right" id="reset_inner"><i class="fa fa-refresh fa-fw"></i>重置</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>这个混淆的方式来自于: <a href="https://github.com/bprayudha/jquery.aaencode"
                        target="_blank">https://github.com/bprayudha/jquery.aaencode</a></p>
                <p>经典的混淆方法，混淆以后，代码会变成可爱的表情难以阅读，代码执行速度会变慢</p>
                <p>就像这样 (ﾟДﾟ) = (ﾟΘﾟ) = (o ^ _ ^ o) / (o ^ _ ^ o);</p>
                <p>在线混淆：<a href="https://utf-8.jp/public/aaencode.html"
                    target="_blank">https://utf-8.jp/public/aaencode.html</a></p>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='question/js/simple_aaencode.js') }}"></script>