<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">
                <p>TLS指纹</p>
                <p>用同一台主机访问在线测试 TLS指纹在线测试地址，尝试进行各种操作以改变服务器对你的标识（ja3值）</p>
            </div>
            <div class="card-content">
                <ul id="_all_the_message">
                </ul>
                <div >
                    在线测试TLS指纹地址 <a href="https://ja3er.com/json"  target="view_window">https://ja3er.com/json</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>

            <div class="card-content">
                <p>TLS指纹</p>
                <p>服务器根据TLS四次握手中的 Client Hello 报文传来的信息计算出特征，用来独立标识每一台访问的主机。<br>其本身目的主要用于防止攻击，但由于唯一标识的特性，可以用于防止单主机并发访问</p>
                <br>
                <p>个人wireshark 抓包分析记录：<a href="https://evilrecluse.top/post/e877fad7/" target="view_window">https://evilrecluse.top/post/e877fad7/</a></p>
            </div>
            
            <div class="clearBoth"><br></div>
        </div>
    </div>
</div>