<style>
    #drag {
        width: 300px;
        height: 40px;
        line-height: 40px;
        background-color: #e8e8e8;
        position: relative;
        margin: 0 auto;
        padding: 0px;
    }

    #bg {
        width: 40px;
        height: 100%;
        position: absolute;
        background-color: #75CDF9;
    }

    #text {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        user-select: none;
        margin: 0px;
        padding: 0px;
    }

    #btn {
        width: 40px;
        height: 38px;
        position: absolute;
        border: 1px solid #ccc;
        cursor: move;
        font-family: "宋体";
        text-align: center;
        background-color: #fff;
        user-select: none;
        color: #666;
        margin: 0px;
        padding: 0px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">最简单的滑块</div>
            <div class="card-content">
                <div id="drag">
                    <div id="bg"></div>
                    <div id="text" onselectstart="return false">请拖动滑块解锁</div>
                    <div id="btn">&gt;&gt;</div>
                </div>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                <p>这个滑块的源代码来自于: <a href="https://blog.csdn.net/qq_42068550/article/details/92604316" target="_blank">https://blog.csdn.net/qq_42068550/article/details/92604316</a></p>
                <p>我做了一些简单的修改，使得它运行效率更高，更适合这个页面</p>
                <p>这大概是最简单的滑块验证码了，甚至不需要和服务器做数据交互</p>
                <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='question/js/most_simple_slide.js') }}"></script>