<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">无限debugger</div>
            <div class="card-content">
                <div>打开控制台，不出现debugger就算通过</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">简要信息</div>
            <div class="card-content">
                无限debugger是一种阻止你调试的手法，他会设置逻辑，使得你一直处于debugger状态  
            <div class="clearBoth"><br></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='question/js/unlimited_debugger.js') }}"></script>